.vs
HelpfulNeighbor.web/obj
HelpfulNeighbor.web/bin/Debug/net7.0/runtimes
HelpfulNeighbor.web/HelpfulNeighbor.web.csproj.user
feat/create-more-endpoints
HelpfulNeighbor.web/bin/Debug/net7.0/HelpfulNeighbor.web.pdb
=======

