<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/83da8099-cfa6-4b77-b788-a37e95c3054d/resourcegroups/helpful-neighbor/providers/Microsoft.Web/sites/HelpfulNeighborweb20230917140513</ResourceId>
    <ResourceGroup>helpful-neighbor</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://helpfulneighborweb20230917140513.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>068f3369-b07b-4fbc-b37f-46368b98fc20</ProjectGuid>
    <PublishUrl>https://helpfulneighborweb20230917140513.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HelpfulNeighborweb20230917140513</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>